body {
    margin: 0;
    padding: 0;
}

.taskbar {
    background-color: #68b6ef;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#maintitle {
    margin: 0;
    user-select: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.main-Boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 80px; /* Adjusted margin */
}

.calendar-Box {
    height: 550px; /* Adjusted height */
    background-color: #68b6ef;
    border: 0px solid black;
    box-sizing: border-box;
    border-radius: 10px; /* Adjust border-radius for desired curve */
    width: 67%; /* Adjusted width for the left box */
}

.calendar-title {
    color: white;
    text-align: center; /* Center align the title */
    margin-top: 20px; /* Adjust margin as needed */
    margin: 10, top;
    user-select: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.eventadd-Box {
    height: 550px; /* Adjusted height */
    background-color: #68b6ef;
    border: 0px solid black;
    box-sizing: border-box;
    border-radius: 10px; /* Adjust border-radius for desired curve */
    width: 25%; /* Adjusted width for the right box */
}

.event-title {
    color: white;
    text-align: center; /* Center align the title */
    margin-top: 20px; /* Adjust margin as needed */
    margin: 10, top;
    user-select: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.weather-Box {
    background-color: #68b6ef; /* Adjust background color */
    height: 250px; /* Set the height as desired */
    width: calc(65% + 31%); /* Set width to match the total width of the other boxes */
    margin: 20px auto; /* Add margin to center the box and create space around it */
    border-radius: 10px;
}

.weather-title {
    color: white;
    text-align: center; /* Center align the title */
    margin-top: 20px; /* Adjust margin as needed */
    margin: 20, top;
    user-select: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}