<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventPlanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eventplanner.css') }}">
</head>
<body>
    <header class ="taskbar">
        <h1 id="maintitle">Luca's Event Planner</h1>
    </header>
    <div class="mainboxes">
        <div class="calendarbox"></div>
        <div class="eventaddbox"></div>
    </div>
</body>
</html>
